<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  	<head>
  	<meta charset="UTF-8">	
  	<link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.3/css/bootstrap.min.css}"/>
  	<title>Drinks</title>
  	</head>
  	<body>
  	<header th:insert="~{frag :: header-nav}"></header>
		<main class="container">
			<div class="d-flex justify-content-center p-3">
				<h3>Create</h3>
			</div>
				<div th:insert="~{frag :: error}"></div>
				 
	  		<form class="container border mt-3 p-3" 
	 			  method="POST" 
	 			  action="/drink/create" 
	 			  th:object="${drink}" 
	 			  th:insert="~{frag :: form-crud}">
 			</form>
		</main>
  	</body>
</html>