<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  	<head>
  	<meta charset="UTF-8">	
  	<link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.3/css/bootstrap.min.css}"/>
  	<title>Drinks Search</title>
  	</head>
  	<body>
  	<header th:insert="~{frag :: header-nav}"></header>
		<main>
		<div class="container p-3 text-center ">
			<div class="d-flex justify-content-center p-3 mb-3">
				<h3>Drinks Search</h3>
			</div>
			<div th:insert="~{frag :: error}"></div>
			
			<div class="d-flex col-12 justify-content-center mb-5">		 
	  		<form class="form-inline d-flex"
	  				method="GET"
	  				action ="/drink/search">
      				
      				<input class="form-control mr-sm-2 me-1" 
      				placeholder="Search" 
      				type="text" 
      				name="q"
      				th:value="${query}">
      				<button 
      				class="btn btn-outline-success my-2 my-sm-0" 
      				type="submit" 
      				value="search">Search</button>
    		</form>
    		</div>
	    	<table th:if="${!drinks.isEmpty()}" class="table">
			<tr>
				<th scope="col">Nome</th>
			 	<th scope="col">Descrizione</th>
				<th scope="col">Prezzo</th>
				<th scope="col">Azioni</th>
			</tr>
			<tr th:each="drink : ${drinks}" th:object="${drink}">
				<td th:text="*{nome}"></td>
				<td th:text="*{descrizione}"></td>
				<td th:text="*{prezzo}"></td>
				<td>
					<a th:href="@{/drink/{id}(id=${drink.id})}" class="btn btn-success text-uppercase">show</a>
					<a th:href="@{/drink/update/{id}(id=${drink.id})}" class="btn btn-primary btn-small text-uppercase">update</a>
					<a th:href="@{/drink/delete/{id} (id=*{id})}" class="btn btn-danger btn-small text-uppercase">delete</a>
				</td>
			</tr>
			</table>
		</div>
		</main>
  	</body>
</html>