<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  	<head>
  	<meta charset="UTF-8">	
  	<link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.3/css/bootstrap.min.css}"/>
  	<title>Products Search</title>
  	</head>
  	<body>
  	<header th:insert="~{frag :: header-nav}"></header>
		<main>
		<div class="container p-3 text-center ">
			<div class="d-flex justify-content-center p-3 mb-3">
				<h3>Products Search</h3>
			</div>
			<div class="d-flex col-12 justify-content-center mb-5">
			<form class="form-inline d-flex"
	  		 	  method="GET"
	  		      action ="/product/search">
      				
      				<input class="form-control mr-sm-2 me-1" 
      				placeholder="Search" 
      				type="text" 
      				name="q"
      				th:value="${query}">
      				
      				<button class="btn btn-outline-success my-2 my-sm-0" 
      				type="submit" 
      				value="search">Search</button>
    		</form>
    		</div>
    		<div class="d-flex justify-content-center p-3">
 				<table th:if="${!drinks.isEmpty()} AND ${!pizzas.isEmpty()}" class="table">
 					<tr>
 						<th scope="col">Nome</th>
			 			<th scope="col">Descrizione</th>
						<th scope="col">Prezzo</th>
 					</tr>
 						<tr th:each="pizza : ${pizzas}" th:object="${pizza}">
 						<td th:text="*{nome}"></td>
 						<td th:text="*{descrizione}"></td>
 						<td th:text="*{prezzo}"></td>
 					</tr>
 					<tr th:each="drink : ${drinks}" th:object="${drink}">
 						<td th:text="*{nome}"></td>
 						<td th:text="*{descrizione}"></td>
 						<td th:text="*{prezzo}"></td>
 					</tr>
 				</table>
 				<h3 th:if="${drinks.isEmpty()} AND ${pizzas.isEmpty()}">Nessun prodotto trovato</h3>
 			</div>
		</div>
		</main>
  	</body>
</html>